<div id="footer" class="panel">
	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>

  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<!-- <div class="col-sm-4">
			<p>&copy 2021 HDSU inspired by a template of the Allan Lab. </p>
			<a href="{{ site.url }}{{ site.baseurl }}/impressum.html">Impressum and Privacy</a>
			<p>  </p><p>
		</div> -->
		
		<div class="col-sm-4">
			<a href="https://twitter.com/andresquimo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @andresquimo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			<!-- <a href="https://twitter.com/andresquimo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @andresquimo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

			<p>  </p>

			<!-- Place this tag where you want the button to render. -->
			<a class="github-button" href="https://github.com/andquintero" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @andquintero on GitHub">Follow @andquintero</a>

			<p>  </p>

			<!-- <a class="github-button" href="https://github.com/andquintero" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @andquintero on GitHub">Follow @andquintero</a> -->

			<!-- <p>  </p> -->

			<!-- <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script> -->
			<!-- <script type="IN/Share" data-url="https://www.linkedin.com/in/andres-quintero-291b66189/"></script> -->


		</div>


		<!-- <div class="col-sm-4">
		  Contact:<br />
		  BioQuant - 1st floor - Im Neuenheimer Feld 267<br />
		  69120 Heidelberg (Germany)<br />
            (<a href="https://goo.gl/maps/q6XNW8vFgkzsQCb3A">Maps</a>)
		</div> -->
		  
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
