
<div class="well">

    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div>

<h4>News</h4>

{% for article in site.data.news limit:9 %}
{{ article.date }}
<p>{{ article.headline }}</p>
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

    </div>
