---
layout: default
---

  <div id="homeid" class="col-sm-8">
    
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    
    <h3>Andres Quintero - Computational Biologist</h3>
    {{ content }}
    
    

  </div>
  <div id="newsid" class="col-sm-4" >

    <h4>News</h4>
    <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/Andres_Quintero.png" class="img-responsive"/>


    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->
              
  

    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->

    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->

    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->
    
    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->
    
    <!-- {% include news.html %} -->

    

  </div>
