---
layout: default
---

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

  <div id="homeid" class="col-sm-8">
        <h3>Understanding regulatory genomics in diseases.</h3>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >

    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->

    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div>
              
              
    
    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div> -->
    
    {% include news.html %}

  </div>
