<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        
        <h3>Andres Quintero - Computational Biologist</h3>

        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andres-quintero-291b66189" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/andres-quintero-291b66189?trk=profile-badge">Andres Quintero</a></div>
        
        <div class="col-12 col-md-8">
          .col-12 .col-md-8
        </div>
        <div class="col-6 col-md-4">
          col-6 col-md-4
        </div>
        
        


        <!-- {{ content }} -->
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>


